header {
    padding: 20px 0;
}

header .logo {
    padding-top: 10px;
}

header .logo img {
    cursor: pointer;
}
footer {
    margin-top: 30px;
    padding-bottom: 62px;
    color: #888;
}

footer .container {
    padding-top: 21px;
    border-top: 2px solid #ce3c3b;
}

footer .last-linklist ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer .last-linklist li {
    font-size: 12px;
    height: 12px;
    line-height: 12px;
    padding-right: 13px;
    padding-left: 13px;
    margin: 8px 0;
    border-right: 1px solid #ccc;
}

footer a {
    color: #888;
}

footer a:hover {
    color: red;
    text-decoration: underline;
}

footer .copyright {
    margin-top: 10px;
    text-align: center;
}